front/node_modules/
front/dist/
front/dist-ssr/
front/.vite/
front/.env
front/*.local
back/.venv/
back/__pycache__/
back/*.pyc
back/*.pyo
back/*.pyd
back/.env
back/.pytest_cache/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
.env
package-lock.json